@keyframes hover {
    from {
        transform: translate(0px, 0px);
        box-shadow: 0px 0px 0px var(--car-card-primary);

    }

    to {
        transform: translate(20px, -10px);
        box-shadow: -10px 10px 30px var(--car-card-primary);

    }

    ;
}

#card {
    background-color: var(--car-card-bg);
}

#card:hover {
    background-color: var(--car-card-bg-secondary);
    color: var(--primary-color);
    z-index: 3;
    animation-name: hover;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#card>p {
    color: var(--car-card-primary);
}