#header {
  /* @apply grid grid-cols-[repeat(20,_minmax(0,_1fr))] 
            sticky top-0 font-sans border-b-2
            border-b-black grid-flow-col text-lg
            p-4 bg-white; */
  @apply flex w-full justify-between content-center items-center sticky top-0 font-sans border-b-2 border-b-black text-lg p-4 bg-white;
  align-content: center;
  z-index: 100;
  background-color: var(--nav-bg); /*Defined in globals.css*/
  color: var(--nav-primary);
}


.hclick {
  text-decoration: none;
  /* color: black; */
  font-weight: bold;
  padding-right: 10px;
  @apply font-body;
}