#about-text {
    @apply text-xl text-justify font-body
}

#about-item {
    height: 100%;
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}