@keyframes blink {
    from {
        color: red;
    }

    to {
        color: blue;
    }

    ;
}

#blinker {
    animation-name: blink;
    animation-duration: 100ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#button {
    border: 2px solid var(--car-card-primary);
    border-radius: 5px;

}

#button:hover {
    background-color: var(--button-bg);
    box-shadow: -10px 10px 20px var(--car-card-primary);
}
