#header {
  @apply grid grid-cols-[repeat(20,_minmax(0,_1fr))] 
            sticky top-0 h-4 font-sans border-b-2
            border-b-black grid-flow-col text-lg mb-4
            p-6 bg-white;
  align-content: center;
}

#site {
  @apply col-start-1 col-end-4 h-full text-left;
}

#sign {
  /* grid-column: 19 / 21;
  text-align: right; */
  @apply col-start-[19] col-end-[21] text-right h-full;
}

.hclick {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-right: 10px;

}
